# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,json,scss,tsx,ts}]
indent_style = tab
indent_size = 2

[*.md]
max_line_length = 0
trim_trailing_whitespace = false